[Unit]
Description=Run Linux Disk Guardian every 15 seconds

[Timer]
OnBootSec=15s
OnUnitInactiveSec=15s
AccurancySec=1s
Persistent=true

[Install]
WantedBy=timers.target
